@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

:root{
	--colors-main-bg: #121214;
	--colors-text-light: #ffffff;
}

*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	height: 75vh;
	overflow: hidden;
}
body {
	background: var(--colors-main-bg);
	color: var(--colors-text-light);
	height: 75vh;
}

main {
	height: 100%;
}

header {
/*	border: 1px solid red;*/
}

#guess-area {
/*	border: 1px solid blue;*/
}

footer {
/*	border: 1px solid green;*/
	margin-top: 1rem;
	height: 30%;
}

.navbar {
	background: var(--colors-main-bg);
}

.bi {
	font-size: 1.5rem;
}

.navbar .btn-dark {
	background: var(--colors-main-bg);
	border: none;
	padding: 0;
}

#guess-box-container {
	height: 100%;
	width: 100%;
	display: flex;
	flex-flow: column;
}

.guess-row {
	height: 16.6%;
	margin: .0625rem 0;
}

/*.guess-box {
	height: 100%;
	width: 100%;
	border: 1px solid grey;
}*/

#keyboard {
	display: grid;
/*	grid-template-rows: repeat(3, 1fr);*/
	grid-gap: .25rem;
	align-items: center;
	justify-content: start;
	height: 100%;
}

#keyboard-row-1{
	display: grid;
	grid-gap: .25rem;
	grid-template-columns: repeat(10, 1fr);
	height: 100%;;
}
#keyboard-row-2{
	display: grid;
	grid-gap: .25rem;
	grid-template-columns: repeat(9, 1fr);
	height: 100%;
}
#keyboard-row-3{
	display: grid;
	grid-gap: .25rem;
	grid-template-columns: repeat(9, 1fr);
	height: 100%;
}

.key {
	display: flex;
	align-items: center;
	justify-content: center;
	background: grey;
	height: 100%;
	border-radius: .25rem;
	padding: 0;
	}
	
/*.guess-row.active {
	background: darkgreen;
}

guess-box.active {
	background: darkorange;
}*/

.correct {
	background: darkgreen;
}

.includes {
	background: darkorange;
}